<body> {
   font-family: 'Crimson Text', serif;
}
header {
   margin: 100px;
   font-style: bold;
   font-size: 4em;
   text-align: center;
   min-width:auto;
   padding-right: 100px;
   padding-bottom: 100px;
   padding-top: 100px;
   padding-left: 100px;
}

img {
   padding: 20px; padding-top: 70px;
   border: 0px;
   text-align: center;
}

#quote {
   font-size: .35em;
   font-style: italic;
   font-variant: auto;
   padding: 20px;
   font-family: 'Lato', sans-serif;
   font-weight: 100;
   letter-spacing: 1px
}

#hcontent {
   font-variant: small-caps;
   text-align: center;
   padding-bottom: 0px;
   letter-spacing: 12px
}

#column {

}


