<body> {
   font-family: 'Crimson Text', serif;
}
header {
   margin: 100px;
   font-style: bold;
   font-size: 4em;
   text-align:right;
   min-width:auto;
   padding-right: 100px;
   padding-bottom: 100px;
   padding-top: 100px;
   padding-left: 100px;
}

img {
   padding: 30px; padding-top: 70px;
   border: 0px;
}

#quote {
   font-size: .35em;
   font-style: italic;
   font-variant: auto;
}

#hcontent {
   font-variant: small-caps;
   text-align: center;
   padding-bottom: 25px;
   letter-spacing: 10px
}

#column {

}


