@font-face {
    font-family:'Pontano Sans', sans-serif; ;
    src: <link href='http://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>;
}
<head>
<style type="text/css">
body{
   background:#000;
   font-size: 6rem;
   font-family: 'Pontano Sans', sans-serif;
   margin: 65px; color: #222729;
   width: 960px;
   background-color: #ffffff;
}
.column {
   font-size: 3rem;
   font-family:'Pontano Sans', sans-serif;
   padding-left: 30px;
}
.header {
   height:50px;
   background: #F0F0F0;
   border:1px solid #CCC;
   width:960px;
   margin:0px auto;
}
.content {
   width: 960px;
   background: #F0F0F0;
   height: 2000px;
   border: 1px solid #CCC;
   margin: 200px auto;
   padding: 100px;
}
</style>
</head>
<body>

}

footer div {
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
}

h1 {
   font-size: 50px;
   font-variant: small-caps;
}

body {
    font-size:100%;
}.bodytext p {
    font-size:0.875em;
}.sidenote {
    font-size:0.75em;

ol {
    margin:0px 0;
    padding:100;
    list-style: decimal-leading-zero inside none;
}

ol:nth-of-type(1)li
{
    margin: 0px;
    padding: 0px;
    text-indent: -2.2em;
    margin-left: 35em;
}

h2 {
   display: block;
   text-indent: 20 em;
   margin-left: 0 em;
   text-align: left;
}
#index2.html {
    margin: auto 10px;
    width: auto;
    height: 2000px;
    background-color: gray;
}
h1 {
    text-align: center;
}


h3 {
    text-align: center;
}
img {position: relative;
right: 40px;}
